<%- include('header'); -%>
<div class = "d-flex align-items-center justify-content-center my-4">
	<img src="https://bluelightqld.org/wp-content/uploads/2019/06/LOGO-BL-NEW.png" class="img-fluid">
</div>
<div class="menu bg-white">
	<div class="container">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<label for="inputGroupSelect01">Choose your table</label>
				<select class="custom-select js--tableName" id="inputGroupSelect01">
					<option value="/table1">Volunteer</option>
					<option value="/table2">Affiliate</option>
					<option value="/table3">Associate</option>
					<option value="/table4">Award Recipients</option>
					<option value="/table5">QPS_AGM_Invites</option>
				</select>
			</div>
			<div class="col-6">
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary js--goToTable">Go</button>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
